<section>
    <div class="forgot-password-container">
        <div class="card">
            <div class="card-title text-primary">
                Retrive password
            </div>

            <div class="forgot-password-container-label">
                <label for="email"><b> </b> </label>
                <input class="email-input" type="text" placeholder="Email" name="email" required>
            </div>
            <div class="submit-button-container">
            <button class="btn success"> Submit </button>
            </div>
        </div>
    </div>
</section>