.forgot-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    margin-top:20%;
    width: 40%;
}
.email-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.email-input:valid + label {
    opacity: 1;
    top: 3px;
  }

  .email-input:focus + label {
    color: #2c8efe;
  }