/*
    colors: {
        primary : #65d0cd;
        secondary #67d291;
        danger: #FF4076;

        btn-background: {
            primary: #26a69a;

            danger: #E57373;
        }
    }
*/

@font-face {
    font-family: 'Open-Sans';
    src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

/* html setup */

html {
    font-family: 'Open-Sans';
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

* {
    box-sizing: border-box;
}

.pages-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
}

render-container {
    width: 100%;
}

/* typography a*/

a {
    text-decoration: none;
    color: #65d0cd;
}

a:hover, a:focus {
    color: #67d291;
}

h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 10px;
}

a.primary {
    color: #65d0cd;
}

a.secondary {
    color: #67d291;
}

.text-success, .text-primary {
    color: #65d0cd;
}

.text-info {
    color: #67d291;
}

.text-danger {
    color: #FF4076;
}

/* lists */

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: outside;
}

/* buttons */

button, .btn, input[type="button"], input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    vertical-align: middle;
    padding: 0px 16px;
    margin-bottom: 0;
    line-height: 36px;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
    border-radius: 2px;
    transition: box-shadow .25s, background-color .25s;
    outline: none;
}

button.primary, .btn.primary, input[type="button"].primary, input[type="submit"].primary {
    background-color: #26a69a;
    color: #fff;
}

button.primary:hover, .btn.primary:hover, input[type="button"].primary:hover, input[type="submit"].primary:hover {
    background-color: #2bbbad;
}

.btn:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn:focus, button:focus, input[type="button"]:focus, input[type="submit"]:focus, .btn:visited, button:visited, input[type="button"]:visited, input[type="submit"]:visited {
    outline: none;
}

/* containers & grid */

.card {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
}

.card>.card-title:first-child {
    width: 100%;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
}