.activity-container {
    --activity-width: 150px;
    --activity-height: 150px;
    --activity-margin: 20px;
    --activity-inner-padding: 20px;
    --icon-container-bottom-margin: 30px;
}

.user-input {
    min-width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

.grading-tags {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.available-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activity-container {
    width: var(--activity-width);
    height: var(--activity-height);
    margin: var(--activity-margin);
    padding: var(--activity-inner-padding);
    cursor: pointer;
    text-overflow: ellipsis;
    transition: box-shadow .45s;
    overflow: hidden;
    white-space: nowrap;
}

.activity-container:hover {
    box-shadow: var(--box-shadow);
}

.activity-container.selected{ 
    border: 1px solid green;
}

.icon-container {
    padding: 10px;
    width: 100%;
    height: 70%;
    margin-bottom: var(--icon-container-bottom-margin);
}

.activity-icon-1 {
    background: url("assets/icons/eagle-icon.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.activity-icon-2 {
    background: url("assets/icons/panda-icon.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.activity-icon-3 {
    background: url("assets/icons/rocket-icon.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.activity-icon-4 {
    background: url("assets/icons/toxic-icon.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.activity-icon-5 {
    background: url("assets/icons/book-icon.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.activity-icon-6 {
    background: url("assets/icons/smile-icon.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


input[type=radio] {
    display: none;
}

input[type=radio] + label {
    cursor: pointer;
}

input[type=radio]:checked + label .activity-container {
    border: 2px solid var(--secondary);
}

.error {
    color: red;
}