<section>
    <div class="new-activity-card">
        <div class="card">
            <div class="card-title text-primary">
                New Activity
            </div>
            <label for="activity-name"><b> </b> </label>
            <input class="user-input" type="text" placeholder="Activity name" name="activity-name" required>
            <div class="grading-tags">
                <h3 class="grading-header"> Grading Tags</h3>

                <div class="button-container">
                    <button class="btn success"> Tags </button>
                    <button class="btn success"> Points </button>
                    <button class="btn success"> Others </button>
                </div>

            </div>
            <div class="create-button">
                <button class="btn success"> Create </button>
            </div>
        </div>
    </div>
</section>