
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--header-height);
    background-color: white;
    border-bottom: 2px solid var(--primary);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0;
}

.logo-href {
    align-self: flex-start;
    height: var(--header-height);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}
.title {
    display: inline;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.desktop-title {
    margin-left: 15px;
}

.mobile-tittle {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    justify-content: center;
    display: flex;
}

nav ul {
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

nav ul li {
    padding: 0;
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px 15px;
}

nav ul li a:hover {
    color: var(--primary);
    background-color: var(--light-gray);
}

img {
    width: 64px;
    height: 64px;
}

/* hamburger */

#toggle
{
    position: relative;
    display: none;
    z-index: 1;
    align-self: center;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 25px;
}

#toggle input
{
    position: absolute;
    display: none;
    width: 58px;
    height: 58px;
    bottom: -19px;
    left: -16px;
  
    cursor: pointer;
    
    opacity: 0;
    z-index: 20;
    
    -webkit-touch-callout: none;
}

#toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--gray);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#toggle span:first-child
{
  transform-origin: 0% 0%;
}

#toggle span:nth-child(2)
{
  transform-origin: 0% 100%;
}

#toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: #232323;
}

#toggle input:checked ~ span:nth-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#toggle input:checked ~ span:nth-child(2)
{
    transform: rotate(45deg) translate(-2px, -2px)
}

@media (max-width: 768px) {
    .desktop-title {
        display: none; 
    }
    
    .mobile-tittle {
        display: inline;
        align-self: center;
    }

    .logo-href {
        display: inline;
        align-self: center;
        margin-left: 25px;
    }

    #toggle {
        display: block;
    }

    
    #toggle input{
        display: block;
    }

    .container {
        max-width: 100%;
    }

    nav {
        position: absolute;
        width: 300px;
        background-color: var(--white);
        right: 0;
        transform: translateX(100%);

        transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0); 
    }

    nav ul {
        flex-direction: column;
    }
}