<section>
    <h1 class="className">
        <<=classInfo.className>>
    </h1>
    <div class="check-in">
        <div class="check-in-button-container"> <button class="btn success"> Enable check-in</button> </div>
        <label for="distance"><b> </b> </label>
        <input class="user-input" type="text" placeholder="Distance in meters" name="distance" required>
    </div>

    <div class="buttons-containment">
            <div class="make-private-button-container"> <button class="btn success"> Make data private</button> </div>
            <div class="make-protected-button-container"> <button class="btn success"> Make data protected</button> </div>
            <div class="make-public-in-button-container"> <button class="btn success"> Make data public</button> </div>
    </div>

    <div class="attendance-cards">
        << for(let [index, weekCard] of classInfo.checkIns.entries()) {>>
            <div class="card">
                <div class="card-title text-primary">
                    <<=weekCard.Date>>
                </div>
                <section class="card-content">
                    <main>
                        << for(let attendee of weekCard.Attendees) {>>
                            <div>
                                <<=attendee.FirstName>> <<=attendee.LastName>>
                            </div>
                            << }>>
                    </main>
                    <aside>
                        <canvas height="230px" width="560px" id="graph-<<=index>>"></canvas>
                    </aside>
                </section>
            </div>
            << }>>
    </div>
    <div class="cheating-card">
        << for(let weekCard of classInfo.checkIns) {>>
            <div class="card">
                <div class="card-title text-primary">
                    <<=weekCard.Date + " Frauds">>
                </div>
                <ul class="fraud-list">
                    << for(let [index, fraud] of weekCard.frauds.entries()) {>>
                        <li>
                            <<=fraud.FirstName>> <<=fraud.LastName>>
                        </li>
                        << }>>
                </ul>

            </div>
            << }>>
    </div>
</section>