<section>
    <h1 class="className">
        <<=classInfo.className>>
    </h1>
    <div>
        <div>

            << for(let [index, weekCard] of classInfo.checkIns.entries()) {>>
                    <div class="card">
                        <div class="card-title text-primary">
                            <<=weekCard.Date>>
                        </div>
                        <section class="card-content">
                            <main>
                                << for(let attendee of weekCard.Attendees) {>>
                                    <<=attendee.FirstName>> <<=attendee.LastName>>
                                << }>>
                            </main>
                            <aside>
                                <canvas height="230px" width="560px" id="graph-<<=index>>"></canvas>
                            </aside>
                        </section>
                    </div>
                << }>>
        </div>
    </div>
    <div class="general-info-card">
        <div class="card">
            <div class="card-title text-primary">
                General info
            </div>

            <div class="general-info-container">

                <table class="general-info-table">
                    <tr>
                        <td class="descriptor"> Description</td>
                        <td class="value">
                            <<=classInfo.description>>
                        </td>
                    </tr>
                    <tr>
                        <td class="descriptor"> Admin</td>
                        <td class="value">
                            <<=classInfo.admin>>
                        </td>
                    </tr>
                    <tr>
                        <td class="descriptor"> Meeting Days</td>
                        <td class="value">
                            << for(let day of classInfo.weekDays) {>>
                                << if(classInfo.meetingDays.includes(day)) {>>
                                    <span class="chosenDay">
                                        <<=day>>
                                    </span>
                                    <<} else {>>
                                        <span class="regularDay">
                                            <<=day>>
                                        </span>
                                        << }>>

                                            << }>>
                        </td>
                    </tr>
                    <tr>
                        <td class="descriptor"> Meeting hours</td>
                        <td class="value">
                            <<=classInfo.startingTime>> - <<=classInfo.endingTime>>
                        </td>
                    </tr>
                    <tr>
                        <td class="descriptor"> Status</td>
                        <td class="value">
                            <<=classInfo.status>>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="general-info-edit-button">
                <button class="btn success"> Edit info </button>
            </div>
        </div>
    </div>
    <div class="admin-activity-assesments">
        <div class="assesments-card">
            <div class="card">
                <div class="card-title text-primary">
                    Assesments
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
