.className {
    display: flex;
    justify-content: center;
}

.attendees-card {
    grid-area: attendees;
}


.add-attendee-button {
    display: inline-flex;
    justify-content: end;
}

.card-content {
    justify-content: space-between;
}

.check-in {
    display: flex;
    margin-top:5%;
    flex-direction: column;
    align-self: center;
}

.user-input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    align-self: center;
    text-align: center;
}

.check-in-button-container {
    align-self: center;
}
.buttons-containment{
    margin-top:3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.attendance-cards{
    margin-top:3%;
}