<< if(!loggedIn) {>>

    <img class="logo" src="assets/logos/logo-sm.png" alt="Atter logo">
    <main class="card">
        <div class="card-title">Why atter?</div>
        <div class="card-content">
            <p class="app-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                it to
                make a
                type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of
                Lorem Ipsum.
            </p>
        </div>
    </main>

    <<} else {>>


        <section>

            <div class="card">
                <div class="card-title text-primary">Use external data source</div>
                <div class="container">
                
                <button class = "btn success" data-click="authorizeDropbox()"> Connect to dropbox</button>
                
                </div>

            </div>



        </section>
        <section>
            <div class="card">
                <div class="card-title text-primary">My Activities</div>
                <div class="container">
                    << for(const i in myActivities) {>>
                        <a class="activity-profile" href="/#/dashboard/<<=i>>">
                            <div class="activity-container">
                                <div class="icon-container">
                                    <div class="activity-icon-<<=myActivities[i].iconID>>"></div>
                                </div>
                                <<=myActivities[i].name>>
                            </div>
                        </a>
                        << }>>
                            <a class="activity-profile" href="/#/create-new-activity">
                                <div class="activity-container">
                                    <div class="icon-container">
                                        <div class="new-icon"></div>
                                    </div>
                                    New Activity
                                </div>
                            </a>
                </div>
            </div>
            <div class="card">
                <div class="card-title text-primary">Followed Activities</div>
                <div class="container">
                    << for(const j in followedActivities) {>>
                        <a class="activity-profile" href="/#/activity/<<=j>>">
                            <div class="activity-container">
                                <div class="icon-container">
                                    <div class="activity-icon activity-icon-<<=followedActivities[j].iconID>>"></div>
                                </div>
                                <<=followedActivities[j].name>>
                            </div>
                        </a>
                        << }>>
                            <a class="activity-profile" href="/#/follow-activity">
                                <div class="activity-container">
                                    <div class="icon-container">
                                        <div class="new-icon"></div>
                                    </div>
                                    Follow Activity
                                </div>
                            </a>
                </div>
            </div>
        </section>
        <<}>>