.activity-container {
    --activity-width: 150px;
    --activity-height: 200px;
    --activity-margin: 20px;
    --activity-inner-padding: 20px;
    --icon-container-bottom-margin: 30px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
}

.activity-container {
    width: var(--activity-width);
    height: var(--activity-height);
    margin: var(--activity-margin);
    padding: var(--activity-inner-padding);
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    transition: box-shadow .25s;
    overflow: hidden;
    white-space: nowrap;
}

.activity-container:hover {
    box-shadow: var(--box-shadow);
}

.icon-container {
    padding: 10px;
    width: 100%;
    height: 70%;
    margin-bottom: var(--icon-container-bottom-margin);
}

.act-add-icon {
    background: url("assets/icons/add-new.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}