<< if(!loggedIn) {>>

    <img class="logo" src="assets/logos/logo-sm.png" alt="Atter logo">
    <main class="card">
        <div class="card-title">Why atter?</div>
        <div class="card-content">
            <p class="app-description">
                Atter is a solution aimed at better coordinating any type of activity. An activity
                owner is able to track any type of check-in, legal ones or frauds, to grade atendees
                and to give them feedback per check-in.
            </p>
        </div>
    </main>

    <<} else {>>

        <section>
            <div class="card">
                <div class="card-title text-primary">My Activities</div>
                <div class="container">
                    << for(const i in myActivities) {>>
                        <a class="activity-profile" href="/#/dashboard/<<=i>>">
                            <div class="activity-container">
                                <div class="icon-container">
                                    <div class="activity-icon-<<=myActivities[i].iconID>>"></div>
                                </div>
                                <<=myActivities[i].name>>
                            </div>
                        </a>
                        << }>>
                            <a class="activity-profile" href="/#/create-new-activity">
                                <div class="activity-container">
                                    <div class="icon-container">
                                        <div class="new-icon"></div>
                                    </div>
                                    New Activity
                                </div>
                            </a>
                </div>
            </div>
            <div class="card">
                <div class="card-title text-primary">Followed Activities</div>
                <div class="container">
                    << for(const j in followedActivities) {>>
                        <a class="activity-profile" href="/#/activity/<<=j>>">
                            <div class="activity-container">
                                <div class="icon-container">
                                    <div class="activity-icon activity-icon-<<=followedActivities[j].iconID>>"></div>
                                </div>
                                <<=followedActivities[j].name>>
                            </div>
                        </a>
                    << }>>
                            <a class="activity-profile" href="/#/follow-activity">
                                <div class="activity-container">
                                    <div class="icon-container">
                                        <div class="new-icon"></div>
                                    </div>
                                    Follow Activity
                                </div>
                            </a>
                </div>
            </div>
        </section>
        <<}>>