<div class="card">
    <div class="card-title text-primary">Dropbox Files</div>

    << if(!allowedTo) {>>
        You are not the owner of this application
    <<} else {>>
    <div class="dropbox-container">
        <button class="btn success" data-click="getFilesFromDropBox()">
            << if(dropBoxFiles.length===0) {>>
                Get dropbox files
                << } else {>>
                    Refresh dropbox files
                    << }>>
        </button>

        <div class="container">
                << for(const i in dropBoxFiles) {>>
                        <div class="file-container" data-click="getAndImportDataForAFile(<<=i>>)  ">
                            <div class="icon-container">
                                <div class="file-icon"></div>
                            </div>
                            <<=dropBoxFiles[i].name>>
                        </div>
                    << }>>
            </div>

    </div>
</div>
<<}>>