<section>
    <div class="card">
        <div class="card-title">
            Typography
        </div>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <p>
            <<= lorem >>
        </p>
    </div>
    <div class="card">
        <div class="card-title">Lists</div>
        <h4 class="text-info">Unordered list</h3>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>...</li>
            </ul>
            <h4 class="text-info">Ordered list</h3>
                <ol>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                    <li>item 4</li>
                    <li>...</li>
                </ol>
    </div>

    <div class="card">
        <div class="card-title">Buttons & Links</div>
        <div class="flex-container column children-nowidth">
            <h4>Success</h4>
            <button class="btn success">Click me!</button>
            <h4>Info</h4>
            <button class="btn info">Click me!</button>
            <h4>Danger</h4>
            <button class="btn danger">Click me!</button>

            <h4>Default link</h4>
            <a href="#/layout">To layout...</a>
        </div>
    </div>

    <div class="card">
        <div class="card-title">Cards</div>

        <div class="card">
            <div class="card-title">Default alignement</div>
            <p>
                <<= lorem >>
            </p>
        </div>

        <div class="card">
            <div class="card-title center danger">Center</div>
            <p>
                <<= lorem >>
            </p>
        </div>

        <div class="card">
            <div class="card-title right info">Right</div>
            <p>
                <<= lorem >>
            </p>
        </div>
    </div>

</section>