<section>
    <div class="attend-now-container">
        <div class="card attend-card">
            <div class="card-title center danger">
                Attend Now
            </div>
            <input class="user-input" type="text" placeholder="Activity Key" name="activityKey" required>
            <button class="btn success"> Attend </button>
        </div>
        <div class="card">
            <div class="card-title">
                Activity Info
            </div>

            <div class="container">
                <div class="activity-container">
                    <div class="icon-container">
                        <div class="existing-icon"></div>
                    </div>
                    <<=activity.name>>
                </div>
            </div>

            <h4>Coordinator:</h4>
            <<=activity.coordinator>>

        </div>

        <div class="card">
            <div class="card-title right info">Attendance History</div>
            <ol>
                <li>Week 1</li>
                <li>Week 2</li>
                <li>Week 3</li>
                <li>Week 4</li>
            </ol>
        </div>
</section>