<section>
    <div class="attend-now-container">
        << if(canCheckIn) {>>
            <button id="check-in-button" class="btn danger check-in" data-click="checkIn()"> Check in </button>
            << }>>
                <div class="card">
                    <div class="card-title">
                        Activity Info
                    </div>

                    <div class="card-content flex-container column center">

                        <h2 class="text-primary text-center text-uppercase">
                            <<=activity.name>>
                        </h2>

                        <h3 class="text-info">Organizer : <span class="text-primary">
                                <<=activity.owner>>
                            </span>
                        </h3>
                    </div>

                </div>


                <div class="card">
                    <div class="card-title text-primary">
                        Your Attendances
                    </div>
                    << if(!checkInData) { >>
                        <span>No attendances to be displayed!</span>
                    <<}>>
                    <<for (date in checkInData) {>>
                        <div class="card-content">
                            <<for (checkinType in checkInData[date]) {>>
                                <<for (user in checkInData[date][checkinType]) {>>
                                    <<if (user==userEmail) {>>
                                        <h3 class="text-info">
                                            <<=date>>
                                                <span class="text-primary">
                                                    <<=checkinType>>
                                                </span>
                                        </h3>
                                        <<}>>
                                            <<}>>
                                                </ol>
                                                <<}>>
                        </div>
                        <<}>>

</section>