<section>
    <div class="attend-now-container">
        << if(canCheckIn) {>>
            <button id="check-in-button" class="btn danger check-in" data-click="checkIn()"> Check in </button>
            << }>>
                <div class="card">
                    <div class="card-title">
                        Activity Info
                    </div>

                    <div class="card-content flex-container column center">

                        <h2 class="text-primary text-center text-uppercase">
                            <<=activity.name>>
                        </h2>

                        <h3 class="text-info">Organizer : <span class="text-primary">
                                <<=activity.owner>>
                            </span></h3>
                        <h4 class="text-info">Your attendances : </h4>
                        <ol>
                            <li>Check in # 1 2018-09-20</li>
                            <li>Check in # 2 2018-09-28</li>
                            <li>Check in # 3 2018-10-02</li>
                            <li>Check in # 4 2018-10-25</li>
                        </ol>
                        <div>
                            <button class="btn success">Export grades</button>
                        </div>
                    </div>

                </div>
</section>