.card
{
    margin-top:100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    display: inline-flex;
    justify-content: center;
}