<div class="card">
    <div class="card-title text-primary">
        Login
    </div>
    <div class="flex-login-container">
        <label for="email"><b> </b> </label>
        <input class="email-input" type="text" placeholder="Email" name="email" required>

        <label for="password"><b> </b> </label>
        <input class="password-input" type="text" placeholder="Password" name="password" required>
    </div>
    <div>
        <button class="login-button"> Login </button>
    </div>
</div>