.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top:15%;
    width: 500px;
}

.email-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    display: inline-flex;
    justify-content: center;
}
