.atter-header-info {
    display: flex;
    justify-content: center;
}
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    margin-top: 10%;
    width: 80%;
}

.sign-up-info {
    display: flex;
    justify-content: center;
}

.grid-register-container {
    display: grid;
    position: relative;
    justify-content: center;
    margin-top: 15px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
        "fn ln"
        "em ."
        "pw cpw"

}

.first-name-input {
    grid-area: fn;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.last-name-input {
    grid-area: ln;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.email-input {
    grid-area: em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input {
    grid-area: pw;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.confirm-password-input {
    grid-area: cpw;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.already-registered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}