.atter-header-info {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 100px;
    width: 80%;
}

.sign-up-info {
    display: flex;
    justify-content: center;
}

.grid-register-container {
    display: grid;
    position: relative;
    justify-content: center;
    margin-top: 15px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
        "fn ln"
        "em ."
        "pw cpw"

}

.first-name-input {
    grid-area: fn;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.last-name-input {
    grid-area: ln;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.email-input {
    grid-area: em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input {
    grid-area: pw;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.confirm-password-input {
    grid-area: cpw;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-button {
    display: inline-flex;
    justify-content: center;
}

.already-registered {
    display: flex;
    justify-self: center;
}