<h1 class="atter-header-info"> Use atter to track your attendance</h1>

<div class="sign-up-info">
    <p> Please provide the following data in order to register in</p>
</div>
<div class="grid-register-container">
    <label for="first-name"><b> </b> </label>
    <input class="first-name-label" type="text" placeholder="First Name" name="first-name" required>

    <label for="last-name"><b> </b> </label>
    <input class="last-name-label" type="text" placeholder="Last Name" name="last-name" required>

    <label for="email"><b> </b> </label>
    <input class="email-label" type="text" placeholder="Email" name="email" required>

    <label for="password"><b> </b> </label>
    <input class="password-label" type="text" placeholder="Password" name="password" required>

    <label for="confirm-password"><b> </b> </label>
    <input class="confirm-password-label" type="text" placeholder="Confirm password" name="confirm-password" required>
</div>
<div class="register-button">
    <button class="btn success"> Register </button>
</div>