<section class="flex-container column">
    <div class="card privacy-container">
        <div class="card-title center danger">
            Check In & Privacy
        </div>
        <div class="card-content checkin-content">
            <div class="check-in">
                <button class="btn success" id="check-in-btn" data-click="handleCheckInButton()">
                    <<= checkinButtonValue>>
                </button>
                <label for="distance"><b> </b> </label>
                <input type="number" placeholder="Distance in meters" data-bind="maxDistance" required min="1">
            </div>

            <div class="buttons-container">
                <button class="btn success"> Make data private</button>
                <button class="btn info"> Make data protected</button>
                <button class="btn danger"> Make data public</button>
            </div>
        </div>
    </div>

    <div class="flex-container column center">
        <<for (date in checkInData) {>>
            <div class="card">
                <div class="card-title text-primary">
                    <<=date>>
                </div>
                <section class="card-content">

                    <main class="names-container">
                        <<for (checkinType in checkInData[date]) {>>
                            <div>
                                <h4 class="text-info">
                                    <<=checkinType>> :
                                </h4>
                                <ol>
                                    <<for (user in checkInData[date][checkinType]) {>>
                                        <li>
                                            <a class="text-primary" href="/#/asign-grade/<<=activityID>>&<<=date>>&<<=checkinType>>&<<=user>>">
                                                <<=user>>
                                            </a>
                                        </li>
                                        <<}>>
                                </ol>
                            </div>
                            <<}>>
                                <div>
                                    <button class="btn success">Import grades</button>
                                    <button class="btn info">Export grades</button>
                                </div>
                    </main>
                    <aside class="flex-container column center">
                        <canvas height="230px" width="560px" class="graph" id="graph-0"></canvas>
                    </aside>
                </section>
            </div>
            <<}>>
    </div>
</section>