<section class="flex-container column">
    <div class="card privacy-container">
        <div class="card-title center danger">
            Check In & Privacy
        </div>
        <div class="card-content checkin-content">
            <div class="check-in">
                <button class="btn success" id="check-in-btn" click="handleCheckInButton()">
                    <<= checkinButtonValue >>
                </button>
                <label for="distance"><b> </b> </label>
                <input type="number" placeholder="Distance in meters" name="distance" required min="1">
            </div>
    
            <div class="buttons-container">
                <button class="btn success"> Make data private</button>
                <button class="btn info"> Make data protected</button>
                <button class="btn danger"> Make data public</button>
            </div>
        </div>
    </div>

    <div class="flex-container column center">
        << for(let [index, weekCard] of activity.checkIns.reverse().entries()) {>>
            <div class="card">
                <div class="card-title text-primary">
                   Check in  # <<=activity.checkIns.length - index >> : <<=weekCard.Date>>
                </div>
                <section class="card-content">
                    <main class="names-container">
                        <div>
                            <h4 class="text-info">Attendees : </h4>
                            <ol>
                                << for(let attendee of weekCard.Attendees) {>>
                                <li>
                                    <a class="text-primary" href="#/asign-grade"><<=attendee.FirstName>> <<=attendee.LastName>></a> 
                                </li>
                                << }>>
                            </ol>
                        </div>
                        <div>
                            <h4 class="text-info">Frauds attempts : </h4>
                            <ol>
                                << for(let attendee of weekCard.frauds) {>>
                                <li>
                                    <<=attendee.FirstName>> <<=attendee.LastName>>
                                </li>
                                << }>>
                            </ol>
                        </div>
                        <div>
                            <button class="btn success">Import grades</button>
                            <button class="btn info">Export grades</button>
                        </div>
                    </main>
                    <aside class="flex-container column center">
                        <canvas height="230px" width="560px" class="graph" id="graph-<<=index>>"></canvas>
                    </aside>
                </section>
            </div>
            << }>>
    </div>
</section>